.btn {
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.btn--standard {
    border: 2px solid #af1e2d;
    transition: all 0.5s;
    color: #af1e2d;

     &:hover {
        outline: none;
        cursor: pointer;
        background-color: #af1e2d;
        color: #fff;
    }
}

.btn--alternative {
    border: 3px solid #fff;
    transition: all 0.5s;
    color: #fff;

    &:hover {
        outline: none;
        cursor: pointer;
        background-color: #fff;
        color: #af1e2d;
    }
}

.btn--circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;

    i {
        position: relative;
        top: -4px;
        left: 0px;
    }
}
