.btn {
    padding: 15px;
    font-size: 16px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
}

.btn--standard {
    border: 2px solid #af1e2d;
    transition: all 0.5s;
    color: #fff;

     &:hover {
        outline: none;
        cursor: pointer;
        background-color: #af1e2d;
        color: #fff;
    }
}

.btn--alternative {
    border: 3px solid #fff;
    transition: all 0.5s;
    color: #fff;

    &:hover {
        outline: none;
        cursor: pointer;
        background-color: #fff;
        color: #af1e2d;
    }
}
