.icon-bar {
    height: 120px;
    line-height: 120px;
    color: #af1e2d;
}

.icon-bar__left {
    float: left;
    width: 50%;
}

.icon-bar__right {
    float: right;
    width: 50%;
    text-align: right;
}

.icon-bar__icon {
    font-size: 28px;
    color: #fff;
    transition: all 0.3s;
    border: none;
    height: 60px;
    width: 60px;
    background-color: transparent;

    &:hover {
       outline: none;
       cursor: pointer;
       background-color: #af1e2d;
       color: #fff;
   }
}
