.icon-bar {
    height: 75px;
    line-height: 75px;
    background-color: transparent;
    width: 100%;
    padding-bottom: 17px;
}

.icon-bar__left {
    float: left;
    padding-top: 10px;
}

.icon-bar__right {
    float: right;
    text-align: right;
    padding-top: 10px;

    i {
        position: relative;
        top: -2px;
    }
}

.icon-bar__icon {
    font-size: 32px;
    transition: all 0.25s;
    border: none;
    height: 75px;
    width: auto;
    background-color: transparent;
    color: #fff;

    span {
        font-size: 18px;
        display: inline;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        position: relative;
        top: -5px;
        padding-left: 20px;
    }
}

.is-locked {
  background-color: #fff;

  .icon-bar__icon {
      color: #af1e2d;
  }
}
