.imagespace-wrapper {
  position: relative;
  min-height: 20em;
  color: color(white);
  background-position: center;
  background-size: cover; /* [4] */
}

$imagespaceHeightDesktop: 500px;

.imagespace {
    overflow: hidden;
    height: auto;

    @include mq($from: tablet) {
        height: $imagespaceHeightDesktop;
    }
}

.imagespace__background {
    background-size: 100%;
    background-repeat: no-repeat;

    @include mq($from: tablet) {
        background-position: top center;
        height: $imagespaceHeightDesktop;
        background-size: 1024px;
    }

    @include mq($from: 1024px) {
        background-position: center;
        background-size: 1940px;
    }
}

.imagespace__content {
    position: relative;
    padding-top: 65%;
    padding-bottom: 15%;
    color: #fff;

    @include mq($from: tablet) {
        padding-top: 0;
        padding-bottom: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}