.navbar {
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    width: 100%;
    padding-bottom: 17px;
    color: red;
    text-align: center;
}

.navbar-list {
    padding: 0px;
}

.navbar-list__item {
    display: inline;
    margin: 0 40px;
}
