.navbar {
    height: 100px;
    line-height: 100px;
    color: #fff;
    width: 100%;
}

.navbar__container {
    padding: 0 25px;
}

.navbar__left {
    float: left;
    height: 100px;
    font-size: 20px;
}

.navbar__right {
    float: right;
    height: 100px;
}

.navbar__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 20px;
}

.navbar__image {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    position: relative;
    top: 20px;
    margin-right: 20px;
}

.navbar-list {
    li {
        display: inline;
        margin: 0 40px;

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bolder;
            padding: 2px;
        }

        &:hover {
            border-bottom: 3px solid #fff;
        }
    }
}
