.panel {
    height: 100vh;
    padding: 0 25px;
    position: relative;
    background-color: #fff;
    color: #af1e2d;
}

.panel--alternative {
    background-color: #af1e2d;
    color: #fff;
}

.panel__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel__content {
    width: 100%;
    line-height: 1.15;
}

.panel__btn {
    text-align: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.panel-list {
    list-style-type: none;
}

.panel-list__item {
    padding-right: 15px;
    margin-bottom: 15px;
    font-weight: bold;

    @include mq($from: tablet) {
        display: inline;
    }
}
.panel__description {
    width: 100%;
    margin: 0 auto;

    @include mq($from: tablet) {
        width: 40%;
    }
}

.panel__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
