.panel {
    height: 100vh;
    padding: 0 30px;
    position: relative;
    color: #af1e2d;

    &:first-child {
        .panel__container {
            top: 35%;
        }

        @include mq($from: tablet) {
            height: 95vh;
        }
    }

    @include mq($from: tablet) {
        padding: 0 120px;
    }
}

.panel--alternative {
    background-color: #af1e2d;
    color: #fff;
}

.panel__container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.panel__content {
    width: 100%;
    line-height: 1.15;
}

.panel__btn {
    text-align: left;

    &:after {
        position: relative;
        left: 18px;
        content: "\f107";
        font-family: FontAwesome;
        padding-right: 20px;
    }
}

.panel__btn-set {
    button {
        margin-bottom: 15px;
    }
    span {
        display: none;

        @include mq($from: tablet) {
            display: inline;
        }
    }

    * {
        display: block;

        @include mq($from: tablet) {
            display: inline-block;
        }
    }
}

.panel-list {
    list-style-type: none;
}

.panel-list__item {
    padding-right: 15px;
    margin-bottom: 15px;
    font-weight: bold;

    @include mq($from: tablet) {
        display: inline;
    }
}
