.panel {
    position: relative;
    background-color: #af1e2d;
    color: #fff;
}

.panel--alternative {
    background-color: #fff;
    color: #af1e2d; 
}

.panel--image {
    background-color: #000;
}