.resume__trigger {
    right: 30px;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    float:right;
    margin-right: 30px;
    
    &:before {
        content: "\f0ed";
        font-family: FontAwesome;
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}
