.resume__trigger {
    right: 20px;
    top: 20px;
    z-index: 3;
    font-size: 22px;
    color: #fff;
    background: none;
    border: none;
    position: absolute;
    
    &:before {
        content: "\f0ed";
        font-family: FontAwesome;
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}
