.heading-large {
    font-size: $heading-large;
}

.heading-medium {
    font-size: $heading-medium;
}

.heading-small {
    font-size: $heading-small;
}

.text-large {
    font-size: $text-large;
}

.text-medium {
    font-size: $text-medium;
}

.text-small {
    font-size: $text-small;
}