.heading-large {
    font-size: $heading-medium;

    @include mq($from: tablet) {
        font-size: $heading-large;
    }
}

.heading-medium {
    font-size: $heading-small;

    @include mq($from: tablet) {
        font-size: $heading-medium;
    }
}

.heading-small {
    font-size: $heading-tiny;

    @include mq($from: tablet) {
        font-size: $heading-small;
    }
}

.heading-tiny {
    font-size: $heading-tiny;

    @include mq($from: tablet) {
        font-size: $heading-tiny;
    }
}

.text-smallsprint {
    font-size: $text-smallprint;
}
